body {
    background-color: rgba(0, 0, 0, 0.9);
    height: 90vh;
    display: grid;
    place-items: center;
}

main {
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

* {
    font-family: Montserrat, sans-serif;
    color: white;
    margin: 0;
}

h1 {
    font-weight: 600;
    color: gold;
    text-align: center;
}

h3 {
    font-weight: 300;
}

@media (min-width: 800px) {
    main {
        flex-direction: row;
    }

    h1 {
        text-align: start;
    }
}